.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
/*table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }*/

.list-group-item.active {
	background-color: #DDF4FF;
}

.btn-default {
	color: #ffffff !important;
	background-color: #51AEFF !important;
	border-color: #51AEFF !important;
}

.select2-container .select2-choice {
	height: 34px !important;
	line-height: 32px !important;
	background-image: none !important;
}

.text-ref {
	margin-bottom: 2px !important;
	margin-top: 2px !important;
}
.text-ref dd, dt {
	line-height: 2;
	font-size: 12px;
}

.text-ref dd {
	margin-left: 260px !important;
}

.text-ref dt {
	width: 250px !important;
}

.panel-text-referensi {
	padding: 0px !important;
}

#banner {
	width: auto;
	height: 120px;
	background-color: #4BB7FD;
/*	background-image: url('images/elgg-page-header-pipp.png'); */
	background-repeat: no-repeat;
	background-position: center;
	
}
#content {

}

input.datepicker{
	cursor: pointer !important;
}
.per_ikan {
	margin: 2px;
}

.image-reftext {
  width: 140px;
  height: 140px;
  margin-top: 10%;
}

.image-maps {
  width: 90%;
  height: 200px;
  margin-top: 10%;
  background-color: gray;
  border: 4px solid #ddd;
border-radius: 4px;
}

.stgh-col{
	width: 50% !important;
}

.h1-judul-form {
	margin-top: 0px !important;
}

.hr-for-form {
	margin-top: 0px;
	margin-bottom: 10px;
}

/* tambahan by WN */
html, body {
	font-family: "Arial", sans-serif;
}
.navbar {
	border-radius: 0 0 0 0;
	background-color: rgb(255, 0, 0);
/*	font-size: 1.20em; */
	font-weight: bold;
  margin-bottom: 15px;
}
.navbar-nav > li > a {
	color: #fff;
}
.navbar-brand {
	color: rgb(255, 244, 0);
}

.overflowed {
	overflow: auto;
}

.panel-body-berita {
  max-height: 350px;
  overflow-x: hidden;
}

.panel-body-berita .row {
  border-bottom: 1px solid #ddd;
}

.datepick-bulan-tahun .ui-datepicker-calendar {
                    display: none;
}
